section{
    display: flex;
    justify-content: center;
}

form{
    width: 60vw;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2{
    text-align: center;
}

h3{
    margin: 10px 0;
}

input{
    margin: 10px 0;
}

.radioContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.radioContainer input{
    margin: 5px 0;
}

input:valid, textarea:valid{
    font-weight: 600;
    color: green;
    border: 3px solid green;
}

input:invalid, textarea:invalid{
    font-weight: 600;
    color: red;
    border: 3px solid red;
}

.papitas{
    width: 100px;
    height: 100px;
    transition: all 5s linear 0s;
}

.papitas:hover{
    transform: scale(1.5);
}

@media (min-width: 320px){
    form{
        width: 90vw;
        background-color: violet;
    }
    input{
        width: 90%;
    }
    h3{
        color: violet;
    }
}

@media (min-width: 320px) and
(orientation: landscape) {
    form{
        width: 90vw;
        background-color: orange;
    }
}



@media (min-width: 768px){
    form{
        width: 80vw;
        background-color: blue;
    }
}

@media (min-width: 1270px){
    form{
        width: 55vw;
        background-color: red;
    }
    input{
        width: 60%;
    }
}


