section{
    display: flex;
    border: 2px solid black;
}

div{
    width: 12.5%;
    background-color: darkgreen;
    border: 2px solid black;
    color: white;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
}

.primero{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}